{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Login |{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/css/accounts.css' %}">
{% endblock %}

{% block content %}
<div class="header">
	{% include "header.html" %}
	<div>
	</div>
	<a class="btn btn-default" href="{{ signup_url }}">Signup</a>
</div>
{% include "carousel.html" %}
<div class="bgc-transparency">

</div>
<div class="container">
		<div class="content">	
						<div class="box" ><span class="h7">Not Feeling Well?</span><br><span style="font-size:4em;">Search Advices from doctors</span></div>

			<div class="social-box text-center">
				<input type="textbox"/>
			</div>
			
			<div class="clear"></div>
		</div>

		<div class="content">	
			<div class="social-box text-center">
				<h3>Django RSS App</h3>
				<h5>This is a demo rss app created using Django Framework.</h5>
				<h5>Login with your favorite social account:</h5>
				<div>
					<a class="facebook-button btn btn-lg auth-button" href="">Facebook</a>
					<a class="twitter-button btn btn-lg auth-button" href="">Twitter</a>
					<a class="google-button btn btn-lg auth-button" href="" method="oauth2">Google</a>
					<a class="github-button btn btn-lg auth-button" href="">Github</a>
				</div>
				{% if request.path != '/accounts/signup/' %}
				<p class="text-center">If you don't want to use a social Login create a traditional account <a href="{{ signup_url }}">here</a>.</p>
				{% endif %}
			</div>
			
			<div class="clear"></div>
		</div>
	</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$('.carousel').carousel({interval: 5000});
});
</script>
{% endblock %}
