<div class="pull-left social-box text-center">
	<h3>Django RSS App</h3>
	<h5>This is a demo rss app created using Django Framework.</h5>
	<h5>Login with your favorite social account:</h5>
	<div>
		<a class="facebook-button btn btn-lg auth-button" href="">Facebook</a>
		<a class="twitter-button btn btn-lg auth-button" href="">Twitter</a>
		<a class="google-button btn btn-lg auth-button" href="" method="oauth2" %}>Google</a>
		<a class="github-button btn btn-lg auth-button" href="">Github</a>
	</div>
	{% if request.path != '/accounts/signup/' %}
		<p class="text-center">If you don't want to use a social Login create a traditional account <a href="{{ signup_url }}">here</a>.</p>
	{% endif %}
</div>
